# Advanced Python Programming - First Assignment

## Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.  
Display each value with its data type.  
Convert age to float and marks to int before displaying.

In [10]:
name = input("Enter student name: ")
roll_no = input("Enter roll number: ")
age = input("Enter age: ")
marks = input("Enter marks: ")

age = float(age)
marks = int(marks)

print("\nStudent Details:")
print("Name:", name, "| Data Type:", type(name))
print("Roll Number:", roll_no, "| Data Type:", type(roll_no))
print("Age:", age, "| Data Type:", type(age))
print("Marks:", marks, "| Data Type:", type(marks))

Student Details:
Name: bigyan | Data Type: <class 'str'>
Roll Number: 2 | Data Type: <class 'str'>
Age: 3.0 | Data Type: <class 'float'>
Marks: 4 | Data Type: <class 'int'>

## Question 2: Conditional Logic
Accept marks (0–100) and display:
- Excellent (≥80)
- Good (≥60)
- Pass (≥40)
- Fail (<40)

In [11]:

marks = int(input("Enter marks (0-100): "))

if marks >= 80 and marks <= 100:
    print("Excellent")
elif marks >= 60:
    print("Good")
elif marks >= 40:
    print("Pass")
else:
    print("Fail")

Fail

## Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [12]:
for num in range(1, 101):
    if num % 4 == 0 and num % 8 != 0:
        print(num)

4
12
20
28
36
44
52
60
68
76
84
92
100

## Question 4: List Operations
Given:
```python
marks = [55, 72, 48, 90, 67, 72, 90]
```
Find max, min, count of 72, and marks ≥ 60.

In [13]:
marks = [55, 72, 48, 90, 67, 72, 90]

print(max(marks))
print(min(marks))
print(marks.count(72))
print([m for m in marks if m >= 60])

90
48
2
[72, 90, 67, 72, 90]

## Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.  
Explain result using comments.

In [14]:
subjects = ("Math", "Physics", "Chemistry", "English", "Computer")

subjects[0] = "Biology"   # This will cause a TypeError because tuples are immutable

# Tuples cannot be modified after creation
# Attempting to change, add, or remove elements from a tuple results in an error
# This immutability makes tuples safer for fixed data

TypeError: 'tuple' object does not support item assignment

## Question 6: List Sanitization and Metrics
Given:
```python
marks = [45, -3, 88, "NA", 102, None, 67]
```

Write a function that:
1. Removes invalid entries  
2. Returns:
   - Cleaned list  
   - Number of invalid entries  
   - Percentage of valid marks  

Return values using a tuple.

In [ ]:
def sanitize_marks(marks):
    cleaned = []
    invalid_count = 0

    for m in marks:
        if isinstance(m, (int, float)) and 0 <= m <= 100:
            cleaned.append(m)
        else:
            invalid_count += 1

    valid_percentage = (len(cleaned) / len(marks)) * 100
    return cleaned, invalid_count, valid_percentage


marks = [45, -3, 88, "NA", 102, None, 67]

cleaned_list, invalid_entries, valid_percentage = sanitize_marks(marks)

print("Cleaned List:", cleaned_list)
print("Invalid Entries:", invalid_entries)
print("Valid Percentage:", valid_percentage)

Cleaned List: [45, 88, 67]
Invalid Entries: 4
Valid Percentage: 42.857142857142854

## Question 7: Dictionary Usage
Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [ ]:

students = {}

def add_student(roll_no, name):
    if roll_no in students:
        print(f"Roll No {roll_no} already exists. Use update to change name.")
    else:
        students[roll_no] = name
        print(f"Student {name} added with Roll No {roll_no}.")


def update_student(roll_no, name):
    if roll_no in students:
        students[roll_no] = name
        print(f"Roll No {roll_no} updated to {name}.")
    else:
        print(f"Roll No {roll_no} does not exist. Use add to insert.")

def display_students():
    if students:
        print("Roll No : Name")
        for roll, name in students.items():
            print(f"{roll} : {name}")
    else:
        print("No students in the dictionary.")

# --- Example Usage ---
add_student(101, "bigyan")
add_student(102, "bigy")
update_student(102, "bibi")
display_students()

Student bigyan added with Roll No 101.
Student bigy added with Roll No 102.
Roll No 102 updated to bibi.
Roll No : Name
101 : bigyan
102 : bibi

## Question 8: Prime Number Function
Write `is_prime(n)` and display prime numbers between 1 and 50.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [num for num in range(1, 51) if is_prime(num)]
print("Prime numbers between 1 and 50:", primes)

Prime numbers between 1 and 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## Question 9: Function Composition
Write functions to:
1. Calculate total marks  
2. Calculate average  
3. Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:
```
(name, total, average, result)|
```

Explain why modular design is beneficial.

In [ ]:

# 1. Function to calculate total marks
def calculate_total(marks):
    return sum(marks)

# 2. Function to calculate average marks
def calculate_average(total, number_of_subjects):
    return total / number_of_subjects

# 3. Function to classify the result
def classify_result(average):
    if average >= 75:
        return "Distinction"
    elif average >= 40:
        return "Pass"
    else:
        return "Fail"

# 4. Combined function using function composition
def student_result(name, marks):
    total = calculate_total(marks)
    average = calculate_average(total, len(marks))
    result = classify_result(average)
    return (name, total, average, result)

# Example usage
marks = [12, 50, 69, 74, 80]
output = student_result("Bigyan", marks)
print(output)

# Why modular design is beneficial:
# - Each function performs a single task
# - Functions can be reused in other programs
# - Code is easier to read and understand
# - Debugging and maintenance become simpler
# - Changes can be made without affecting the entire program

('Bigyan', 285, 57.0, 'Pass')

## Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

```
"Ram|101|22|78, 88, 91"
```
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:
1. Extract name, roll number, age, and marks  
2. Convert them into appropriate data types  
3. Validate age (≥16) and marks (0–100)  
4. Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [ ]:


def parse_student_data(raw_input):
    try:
        # Step 1: Split main parts
        parts = raw_input.split("|")
        if len(parts) != 4:
            return {"error": "Invalid format. Expected 4 fields."}

        name = parts[0].strip()

        # Step 2: Convert roll number and age
        try:
            roll = int(parts[1].strip())
            age = int(parts[2].strip())
        except ValueError:
            return {"error": "Roll number and age must be integers."}

        # Step 3: Validate age
        if age < 16:
            return {"error": "Age must be at least 16."}

        # Step 4: Parse marks
        marks_str = parts[3].split(",")
        marks = []

        for m in marks_str:
            try:
                mark = int(m.strip())
                if mark < 0 or mark > 100:
                    return {"error": "Marks must be between 0 and 100."}
                marks.append(mark)
            except ValueError:
                return {"error": "Marks must be integers."}

        # Step 5: Return dictionary using roll number as key
        return {
            roll: {
                "name": name,
                "age": age,
                "marks": marks
            }
        }

    except Exception:
        # Defensive fallback (function will not crash)
        return {"error": "Malformed input."}


# Example usage
input_string = "Ram|101|22|78, 88, 91"
result = parse_student_data(input_string)
print(result)

{101: {'name': 'Ram', 'age': 22, 'marks': [78, 88, 91]}}

## Question 11: Type Stability and Conversion
Given the list:
```python
data = [10, "20", 30.5, "abc", None, True]
```

Write a function that:
1. Separates numeric and non-numeric values  
2. Converts numeric values to float  
3. Returns both lists  

Explain in comments why `True` behaves as a numeric value.

In [ ]:
# Question 11: Type Stability and Conversion

def separate_and_convert(data):
    numeric_values = []
    non_numeric_values = []

    for item in data:
        # In Python, bool is a subclass of int:
        # True behaves like 1 and False behaves like 0
        # Hence, True is considered numeric unless explicitly excluded
        if isinstance(item, (int, float, bool)):
            numeric_values.append(float(item))
        else:
            try:
                # Attempt to convert string numbers like "20"
                numeric_values.append(float(item))
            except (ValueError, TypeError):
                non_numeric_values.append(item)

    return numeric_values, non_numeric_values


# Given data
data = [10, "20", 30.5, "abc", None, True]

# Function call
numeric, non_numeric = separate_and_convert(data)

print("Numeric values:", numeric)
print("Non-numeric values:", non_numeric)

Numeric values: [10.0, 20.0, 30.5, 1.0]
Non-numeric values: ['abc', None]

## Question 12: Pattern-Based Looping
Generate the sequence:
```
2, 6, 12, 20, 30, 42, 56
```

Rules:
- Do not hardcode the list  
- Use loops and conditionals only  
- Explain the pattern in comments

In [ ]:
# Pattern explanation:
# The sequence follows the formula:
# n × (n + 1)
# where n starts from 1
#
# 1 × 2 = 2
# 2 × 3 = 6
# 3 × 4 = 12
# 4 × 5 = 20
# 5 × 6 = 30
# 6 × 7 = 42
# 7 × 8 = 56

sequence = []

# Generate first 7 terms using a loop
for n in range(1, 8):
    value = n * (n + 1)
    sequence.append(value)

print(sequence)

[2, 6, 12, 20, 30, 42, 56]

## Question 13: Set-Based Enrollment Analysis
Given:
```python
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
```

Find:
1. Students enrolled in exactly two subjects  
2. Students enrolled in only one subject  
3. Students enrolled in all subjects

In [ ]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

# Students enrolled in all three subjects
all_subjects = python & sql & statistics

# Students enrolled in at least one subject
all_students = python | sql | statistics

# Students enrolled in exactly two subjects:
# (pairwise intersections) minus (those in all three)
exactly_two = (
    (python & sql) |
    (python & statistics) |
    (sql & statistics)
) - all_subjects

# Students enrolled in only one subject:
# (students in at least one subject)
# minus (students in two or more subjects)
only_one = all_students - exactly_two - all_subjects

print("Exactly two subjects:", exactly_two)
print("Only one subject:", only_one)
print("All subjects:", all_subjects)

Exactly two subjects: {'Amit', 'Nita'}
Only one subject: {'Gita', 'Ram', 'Sita'}
All subjects: {'Hari'}

## Question 14: Dictionary Aggregation Logic
Given:
```python
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
```

Write a function that:
1. Computes average per student  
2. Identifies top and bottom performers  
3. Returns results using a single dictionary

In [15]:
def analyze_records(records):
    result = {}
    averages = {}

    # Step 1: Compute average marks per student
    for student, marks in records.items():
        avg = sum(marks) / len(marks)
        averages[student] = avg

    # Step 2: Identify top and bottom performers
    top_student = max(averages, key=averages.get)
    bottom_student = min(averages, key=averages.get)

    # Step 3: Store everything in a single dictionary
    result["averages"] = averages
    result["top_performer"] = {
        "name": top_student,
        "average": averages[top_student]
    }
    result["bottom_performer"] = {
        "name": bottom_student,
        "average": averages[bottom_student]
    }

    return result


# Given records
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

# Function call
output = analyze_records(records)
print(output)

{'averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336}, 'top_performer': {'name': 'Sita', 'average': 84.0}, 'bottom_performer': {'name': 'Hari', 'average': 52.333333333333336}}

## Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:
```python
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
```

Write a function that:
1. Calculates the average marks for each student
2. Finds the top performer in each class
3. Calculates the overall school average
4. Returns a dictionary with:
   - `class_toppers`: {class_name: (student_name, average)}
   - `school_average`: float
   - `student_averages`: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [16]:

# Nested dictionaries are useful for hierarchical data because:
# - They naturally represent "groups within groups" (e.g., School → Class → Students)
# - Data remains well-organized and readable
# - Related data can be accessed efficiently using keys
# - They scale easily when new classes or students are added

def analyze_school_data(school_data):
    class_toppers = {}
    student_averages = {}
    total_marks = 0
    total_count = 0

    # Traverse classes
    for class_name, students in school_data.items():
        top_student = None
        top_average = -1

        # Traverse students within each class
        for student, marks in students.items():
            avg = sum(marks) / len(marks)
            student_averages[student] = avg

            # Track class topper
            if avg > top_average:
                top_average = avg
                top_student = student

            # Accumulate for school average
            total_marks += sum(marks)
            total_count += len(marks)

        class_toppers[class_name] = (top_student, top_average)

    # Calculate overall school average
    school_average = total_marks / total_count

    return {
        "class_toppers": class_toppers,
        "school_average": school_average,
        "student_averages": student_averages
    }


# Given school data
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

# Function call
result = analyze_school_data(school_data)
print(result)

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.66666666666667)}, 'school_average': 77.91666666666667, 'student_averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336, 'Ram': 91.66666666666667}}